body {
    background:transparent url('../images/bg.jpg') repeat-x;
    background-color: #faf7ef;
    font-size: 9pt;
}
.container {
    background: url('../images/header.jpg') no-repeat right top;
}

.header-wrap {
    height: 176px;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 106px;
    
}
.header .header-logo {
    font-size: 200%;
    font-weight: bold;
    height: 80px;
    margin-top: 10px;
    line-height: 1.5em;
}
.header .header-logo > a {
    color: #4c4f8b;
}
.header .header-logo > a:hover {
    text-decoration: none;
    color: orange;
}

.nav {
}

.nav > li > a {
    color: #666;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

.nav > li > a:hover {
    color: orange;
}

.blog-status {
    text-align: right;
    margin-top: 8px;
    color: #999;
}
.blog-status .status-nums {
    font-style: normal;
}

.main {
    min-height: 480px;
}

/*首页文章列表部分 start*/
.post {
    margin-bottom: 20px;
}

.post .post-title {
    font-size: 110%;
    font-weight: bold;
    float: right;
    line-height: 1.5em;
    width: 100%;
    clear: both;
}

.post .post-title > a {
    color: #6466b3;
}

.post .post-title > a:hover {
    color: orange;
    text-decoration: none;
}

.post .post-body {
    line-height: 1.5em;
    width: 100%;
    padding: 10px 0;
}
.post .post-body > p {
    margin: 0;
}
.post .post-footer {
    width: 100%;
    clear: both;
    text-align: right;
    padding-right: 5px;
    color: #666;
    margin-top: 5px;
    font-size: 9pt;
}


/*end 首页文章列表部分*/


.footer {
    text-align: center;
    height: 81px;
    margin-top: 10px;
    background: url(../images/footer.jpg) no-repeat 120px 0;
    padding-top: 35px;
    flex-direction: column;
}
.footer .footer-copyright {
    margin-bottom: 4px;
}

.footer .footer-copyright > a {
    color: #212529;
}

