
body {
    background:transparent url('../images/bg.jpg') repeat-x;
    background-color: $background-color;
    font-size: $font-size;
}

a {
    text-decoration: none;
    color: $title-color;
    &:hover {
        text-decoration: none;
        color: $title-hover-color;   
    }
}   