// $font-weight-lighter:         lighter !default;
// $font-weight-light:           300 !default;
// $font-weight-normal:          400 !default;
// $font-weight-medium:          500 !default;
// $font-weight-semibold:        600 !default;
// $font-weight-bold:            700 !default;
// $font-weight-bolder:          bolder !default;

// @font-face {
//     font-family: "Noto Sans SC";
//     font-weight: $font-weight-lighter;
//     // src: url(../fonts/NotoSansSC-Thin.otf);
//     src: url(../fonts/SourceHanSansHWSC-Regular.otf);
// }
// @font-face {
//     font-family: "Noto Sans SC";
//     font-weight: $font-weight-light;
//     // src: url(../fonts/NotoSansSC-Light.otf);
//     src: url(../fonts/SourceHanSansHWSC-Regular.otf);
// }
// @font-face {
//     font-family: "Noto Sans SC";
//     font-weight: $font-weight-normal;
//     // src: url(../fonts/NotoSansSC-Medium.otf);
//     src: url(../fonts/SourceHanSansHWSC-Regular.otf);
// }
// // @font-face {
// //     font-family: "Noto Sans SC";
// //     font-weight: $font-weight-medium;
// //     font-style: normal;
// //     // src: url(../fonts/NotoSansSC-Regular.otf);
// //     src: url(../fonts/SourceHanSansHWSC-Regular.otf);
// // }
// @font-face {
//     font-family: "Noto Sans SC";
//     font-weight: $font-weight-semibold;
//     // src: url(../fonts/NotoSansSC-Regular.otf);
//     src: url(../fonts/SourceHanSansHWSC-Bold.otf);
// }
// @font-face {
//     font-family: "Noto Sans SC";
//     font-weight: $font-weight-bold;
//     // src: url(../fonts/NotoSansSC-Bold.otf);
//     src: url(../fonts/SourceHanSansHWSC-Bold.otf);
// }
// @font-face {
//     font-family: "Noto Sans SC";
//     font-weight: $font-weight-bolder;
//     // src: url(../fonts/NotoSansSC-Black.otf);
//     src: url(../fonts/SourceHanSansHWSC-Bold.otf);
// }
body {
    // background:transparent url('../images/bg.jpg') repeat-x;
    background-color: $background-color;
    // font-size: $font-size;
    // font-family: "Noto Sans SC","RedHatDisplay",Helvetica,Arial,sans-serif;
    // font-weight: $font-weight-normal;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 1s ease;
}


body::-webkit-scrollbar {
    width: 8px;     
    height: 1px;
    opacity: 0;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,.8);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: transparent;
}


a {
    text-decoration: none;
    color: $title-color;
    &:hover {
        text-decoration: none;
        color: $title-hover-color;   
    }
}

#divAll {
    background-color: $background-color;
}
#divPage {
    background-color: $background-color;
}

.container-fluid {
    // background: url('../images/header.jpg') no-repeat right top;
}