.header-wrap {
    // margin-top: 30px; // 空出顶部的黑色栏，不能删除
    // background-image: url(../images/mainvisual-2.png);
    // background-image: url(https://www.aquac.cc/yaoling-a-yaoling/images/index/background-1.jpg);
    background-image: url(https://hidamarirhodonite.kirara.ca/spread/300491.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @supports (-webkit-touch-callout : none) {
        background-attachment: scroll;
        height: calc(100vh);
    }

    @supports not (-webkit-touch-callout : none) {
        background-attachment: fixed;
        height: calc(100vh);
    }

    width: 100%;

    z-index: -1;

    @supports (-webkit-overflow-scrolling: touch) {}


    @media screen and (max-height: 768px) {
        // -webkit-animation: 20s backgroundMoving-short linear infinite normal;
        // animation: 20s backgroundMoving-short linear infinite normal;

    }

    .header-wrap-box {
        position: relative;
        height: 100%;
        // justify-content: space-around;
        align-content: center;
        background-color: rgba($color: black, $alpha: .233);

        // background-image: url(../images/dot.gif);
        // filter: drop-shadow(0px 0px 12px var(--bs-primary));

        #scroll-down {
            position: absolute;
            bottom: 10px;
            width: 100%;
            // cursor: pointer;
            z-index: 10;
            .scroll-down-effects {
                position: relative;
                width: 100%;
                color: var(--light-grey);
                font-size: 30px;
                text-align: center;
                text-shadow: 2px 2px 4px rgba(0,0,0,.15);
                line-height: 1.5;
                -webkit-animation: scroll-down-effect 1.5s infinite;
                -moz-animation: scroll-down-effect 1.5s infinite;
                -o-animation: scroll-down-effect 1.5s infinite;
                -ms-animation: scroll-down-effect 1.5s infinite;
                animation: scroll-down-effect 1.5s infinite;
            }
        }
       

        @keyframes scroll-down-effect {
            0% {
                top: 0;
                opacity: .4
            }
        
            50% {
                top: -16px;
                opacity: 1;
                -ms-filter: none;
                filter: none
            }
        
            100% {
                top: 0;
                opacity: .4
            }
        }

        .header {
            // padding-top: 30px;
            // padding-bottom: 30px;
            // height: 106px;
            $logo-font-size: 8.5em;

            @media screen and (min-width: map-get($grid-breakpoints, 'xs')) {
                .header-logo {
                    font-size: $logo-font-size * .55;
                }
            }

            @media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
                .header-logo {
                    font-size: $logo-font-size * .67;
                }
            }

            @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
                .header-logo {
                    font-size: $logo-font-size * .7;
                }
            }

            @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
                .header-logo {
                    font-size: $logo-font-size * .8;
                }
            }

            @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
                .header-logo {
                    font-size: $logo-font-size * .9;
                }
            }

            @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
                .header-logo {
                    font-size: $logo-font-size;
                }
            }

            .header-logo {

                // font-weight: bold;
                // height: 80px;
                // margin-top: 60px;
                line-height: 1.5em;
                text-shadow: 5px 5px 12px var(--bs-primary);
                transition: .7s;
                opacity: .94;
                -webkit-animation: 5s siteTitleColorful linear infinite normal;
                animation: 5s siteTitleColorful linear infinite normal;

                >a {
                    // -webkit-text-stroke: .5px white;
                    vertical-align: text-top;
                    transition: .7s;
                    color: var(--bs-light);
                    display: inline-block;

                    // -webkit-text-stroke:2px lighten($color: var(--bs-orange), $amount: 5);
                    #BlogSubTitle {
                        // font-size: 15px;

                        // margin-left: 13px;
                        // margin-bottom: -0.4em;
                        width: 165px;
                        height: 20px;
                        background-repeat: no-repeat;
                        display: block;
                        margin: 0 auto;
                        opacity: .5;
                        transition: opacity .8s;
                        // filter: opacity(0.5);
                        // filter: drop-shadow(0px 0px 12px var(--bs-light));
                    }

                }

            }
            
        }
        .header-wave {
            z-index: 1;
            height: 100px;
            width: 100%;
            // border: 1px solid red;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            background-image: url(../images/wave2.png);
            background-repeat: repeat-x;
            &.wave1{
                height: 85px;
                background-image: url(../images/wave1.png);
                -webkit-animation: 40s waveMove linear infinite normal;
                animation: 40s waveMove linear infinite normal;
            }
            &.wave2{
                background-image: url(../images/wave2.png);
                -webkit-animation: 60s waveMove linear infinite normal;
                animation: 60s waveMove linear infinite normal;
            }
        }
    }

    @keyframes waveMove {
        0% {
            background-position-x: 0;
        }
        50% {
            background-position-x: 100%;
        }
        100% {
            background-position-x: 0;
        }
    }

    @keyframes siteTitleColorful {
        0% {
            text-shadow: 5px 5px 12px var(--bs-primary);
        }

        50% {
            text-shadow: 6px 6px 23px var(--bs-pink);
        }

        100% {
            text-shadow: 5px 5px 12px var(--bs-primary);
        }
    }

    // @keyframes backgroundMoving-short {
    //     0% {
    //         background-position: center 50%;
    //     }

    //     25% {
    //         background-position: center 55%;
    //     }

    //     50% {
    //         background-position: center 50%;
    //     }

    //     75% {
    //         background-position: center 45%;
    //     }

    //     100% {
    //         background-position: center 50%;
    //     }
    // }

    // @keyframes backgroundMoving {
    //     0% {
    //         background-position: center 110%;
    //     }

    //     25% {
    //         background-position: center 115%;
    //     }

    //     50% {
    //         background-position: center 110%;
    //     }

    //     75% {
    //         background-position: center 105%;
    //     }

    //     100% {
    //         background-position: center 110%;
    //     }
    // }

    // position: relative;
    // &::after {
    //     content: " ";
    //     display: block;
    //     height: 400px;
    //     width: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: rgba($color: black, $alpha: .3);
    //     z-index: -1;
    // }
}

.article {
    .header-wrap {
        height: 45vh;
        background-attachment: inherit;
        .header-wrap-box {
            .header {
                // padding-top: 30px;
                // padding-bottom: 30px;
                // height: 106px;
                $logo-font-size: 3.5em;
    
                @media screen and (min-width: map-get($grid-breakpoints, 'xs')) {
                    .header-logo {
                        font-size: $logo-font-size * .55;
                    }
                }
    
                @media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
                    .header-logo {
                        font-size: $logo-font-size * .67;
                    }
                }
    
                @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
                    .header-logo {
                        font-size: $logo-font-size * .7;
                    }
                }
    
                @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
                    .header-logo {
                        font-size: $logo-font-size * .8;
                    }
                }
    
                @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
                    .header-logo {
                        font-size: $logo-font-size * .9;
                    }
                }
    
                @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
                    .header-logo {
                        font-size: $logo-font-size;
                    }
                }
            }
        }
    }
}

#BlogTitle>a:hover {
    transform: translateY(-10px);
    text-shadow: 6px 6px 23px var(--bs-pink);
    opacity: .45;

    #BlogSubTitle {
        opacity: 0;
    }
}

#bubble-anime {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    list-style: none;
    overflow: hidden;
    li {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        box-shadow: inset 0 0 8px  #fff;
        border-radius: 50%;
        opacity: .5;
        left: 0;
        bottom: -300px;
        animation: flying 10s ease-in infinite;
        $colors: (--bs-blue, --bs-pink, white, white);
        @for $i from 1 through 20 {
            $bubble-color: nth($colors, random(length($colors)));
            &:nth-child(#{$i}) {
                opacity: min(.3 + random(3) * .1, 1);
                border: 2px solid var($bubble-color);
                box-shadow: inset 0 0 8px var($bubble-color);
                $w: (.7 + random(17) * .1) * 66px;
                $l: random(100);
                $b: random(100);
                width: $w;
                height: $w;
                left: $l + 0%;
                bottom: -1% * $b;
                animation: flying-#{random(10)} 10s ease-in infinite;
                animation-duration: 10 + random(10) * 1s;
                animation-delay: random(15) * 1s;
            }
        }
    }

    // 后面还是要换成js才随机得起来
    @for $i from 1 through 10 {
        @keyframes flying-#{$i} {
            0% {
                bottom: -300px;
                transform: translateX(0);
            }
            50% {
                $r: random(300);
                @if $i %2 == 0 {
                    $r:$r * -1;
                }
                transform: translateX($r * 1px);
            }
            100% {
                $r: random(300);
                @if $i %2 != 0 {
                    $r:$r * -1;
                }
                bottom: 1000px;
                transform: translateX($r * 1px);
            }
        }
    }
    
}