#divSidebar {
    .function {
        .function_t {
            font-weight: bold;
            line-height: 1.5em;
            margin: 15px 0 5px 0;
            // text-align: center;
            color: $title-color;
            &:first-child {
                margin-top: 0;
            }
        }

        .function_c {
            ul {
                list-style: none;
                padding: 0;
                line-height: 1.5em;
                li {
                    a {
                        color: #88866f;
                    }
                }
            }
            input[type="text"] {
                width: 140px;
            }
        }
    }
}


#tbCalendar {
    width: 229px;
    line-height: 1.5em;
    color: #666;
    
}

#tbCalendar caption {
    caption-side: top;
    padding: 0;
    width: 100%;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #666;
}

#tbCalendar caption a:first-child {
    font-weight: bold;
    float: left;
    margin-left: 8px;
}

#tbCalendar caption a:first-child:hover {
    background-color:  #4c4f8b;
}

#tbCalendar caption a:last-child {
     font-weight: bold;
     float: right;
     margin-right: 8px;
}

#tbCalendar caption a:last-child:hover {
    background-color:  #4c4f8b;
}


#tbCalendar caption a {
    color: #333;

}

#tbCalendar thead {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#tbCalendar thead tr th small {
    font-weight: bold;
    text-align: center;
}

#tbCalendar tbody {
    text-align: center;
}

#tbCalendar td {
    padding: 0;
}

#tbCalendar td a {
    color: #111;
    font-weight: bold;
    text-decoration: underline;
}

#tbCalendar td a:hover {
    background-color:  #4c4f8b;
}