$title-color: #6466b3;
$title-hover-color: var(--bs-pink);
$normal-text-color: #666;
$normal-text-color-emphasize: #333;
// $background-color: #faf7ef;
$background-color: var(--bs-light-bg-subtle);


$font-size: 14px;
$h1: 28px;
$h2: 21px;
$h3: 16px;
$h4: 14px;
$h5: 12px;
$h6: 11px;
$hs: ($h1, $h2, $h3, $h4, $h5, $h6);